html, body {margin: 20px; padding: 0; text-align: left; background-color: #36393f;}
a {text-decoration: none;}
li {list-style-type: none;}

#logo {
	transition: all 300ms;
}

h1, h2, h4 ,a {
	font-family: "Jost", sans-serif;
	font-weight: 600;
	color: #4e5d94;
}

p {
	font-family: "Lato", sans-serif;
	color: #7289da;
	font-weight: 600;
}

hr {
	margin: 0px;
	height: 2px;
	width: 175px;
	background: #23272a;
	border: 0;
	margin: 0;
}

.cmds {
	font-family: "Lato", sans-serif;
	color: #7289da;
	font-weight: 600;
}

header {
	width: 100%;
	height: 65px;
	position: fixed;
	top: 0;
	left: 0;
	background: #23272a;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	z-index: 1;
}

#logo {
	width: 50px;
	float: left;
	margin: 5px 0 0 25px;
}

#logo:hover {
	opacity: 0.5;
}

#logo img {
	margin-top: 2px;
	width: 100%;
}

header nav {
	float: right;
	margin: 10px 50px 0 0;
}

header nav ul li:hover {
	opacity: 0.5;
}

header nav ul li {
	transition: all 300ms;
	float: left;
	margin-right: 16px;
}

header h1 {
	margin-left: 85px;
	margin-top: 9px;
}

#copyright {
	text-align: center;
}

#moyaiu_title {
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 150px;
	text-align: center;
}

#moyaiu_subtitle {
	font-size: 30px;
	margin-top: 0px;
	text-align: center;
}

.website_title {
	font-size: 25px;
}
